.home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin: auto;
    min-height: 100vh;
    padding-bottom: 20rem;
}



.banner {
    width: 100%;
    height: 37rem;
    background: linear-gradient(rgba(21, 32, 46, 0.7), rgba(21, 32,46, 0.4)), url("../assets/img/banner.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "jaffna";
    color: var(--main-color);
    text-align: center;
}

.name {
    font-size:6rem;
    text-shadow: 4px 4px 6px rgb(0, 0, 0);
    letter-spacing: .4rem;
}

.main-title {
    font-size: 2.6rem;
    text-shadow: 4px 4px 6px rgb(0, 0, 0);
    letter-spacing: .4rem;
    line-height: 3.3rem;

}

@media (min-width: 576px) { 
    .name {
        font-size:7rem;
    }
    
    .main-title {
        font-size: 4rem;
        line-height: 4rem;
    }
}


@media (min-width: 768px) { 
    .name {
        font-size:8rem;
    }
    
    .main-title {
        font-size: 6rem;
        line-height: 6rem;
    }
 }


@media (min-width: 1200px) { 
    .name {
        font-size:9rem;
    }
 }

