.home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    width: 100%;
    margin: auto;
    min-height: 100vh;
    padding-bottom: 20rem;
}
.home-page-container h2 {
    font-size: 5rem;
   
    color: var(--main-color);
 
}
.banner {
    width: 100%;
    height: 40rem;
    background: url("../assets/img/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}