.nav {
    height: 4rem;
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--bg);
    border-bottom: 2px solid var(--main-color);
    z-index: 100;


}

.logo {
    font-family: "jaffna";
    font-size: 3.2rem;
    padding-top: .3rem;
    letter-spacing: .4rem;
    color: var(--main-color);
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
}

.logo-link {
    text-decoration: none;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    position: sticky;
    bottom: 0;
}



.menu {
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
}

.menu li {
    height: 100%;
}

.links {
    font-size: 1rem;
    text-decoration: none;
    color: var(--white-smoke);
    letter-spacing: .1rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    height: 100%;
    text-transform: uppercase;

}

.links:hover {
    background: #555;
    color: var(--main-color);
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}

.hamb-icon {
    display: none;
    cursor: pointer;
    color: var(--main-color);
}

.icon {
    font-size: 2rem;
}

@media (min-width: 768px) {
    .nav-wrapper {
        padding: 0 2rem;
    }

    .logo {
        font-size: 4rem
    }

    ;
}

@media (max-width: 992px) {
    .menu {
        display: flex;
        flex-direction: column;
        width: 500px;
        position: absolute;
        transition: 0.5s;
        right: -550px;
        background: var(--bg);
        top: 5rem;
        text-align: center;
        height: calc(100vh - 4rem);
        border-left: 2px solid var(--main-color);
        color: var(--main-color);
    }

    .menu.open {
        right: 0;
    }

    .menu li {
        width: 100%;
    }

    .links {
        width: 100%;
        justify-content: center;
        color: var(--white-smoke);
        border-bottom: 0.2px solid var(--main-color-70);
    }



    .hamb-icon {
        display: block;
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 576px) {
    .menu {
        width: 100%;
        border: none;
    }

}