:root {
  --main-color: #cbaa5c;
  --white-smoke: #eee;
  --bg: #29292a;
}

@font-face {
  font-family: "jaffna";
  src: url('./fonts/PostNoBillsJaffna-ExtraBold.ttf');
}

@font-face {
  font-family: "raleway";
  src: url('./fonts/Raleway-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}


body {
  background: var(--bg);
  font-family: 'raleway';
  min-width: 350px;
}
