.about {
    background: $bg;
    width: 100%;
    padding: 5rem 1rem;

    .about-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin: 4rem auto;

        .about-left {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            flex: 1;
            padding: 2rem 1rem;
            strong {
                color: $main-color;
            }
            
            h2 {
                color: $main-color;
                margin-bottom: 2rem;
                font-size: 2.3rem;
            }
            
            p {
                line-height: 1.5rem;
                margin-bottom: 2rem;
            }
        }

        .about-right {
            padding: 2rem 0; 
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            & img { 
                width: 100%;
            }
        }
    }

   
}

@media (min-width: 992px) {
    .about {
        .about-container {
            flex-direction: row;
        }
    }
}