.footer {
    width: 100%;

    background: $bg;
    display: flex;
    border-top: .5rem solid $bg-light;
    align-items: center;
    justify-content: flex-start;

    padding: 3rem 0;

    .footer-container {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(1, 300px);

        .footer-contacts {
            display: flex;
            justify-content: flex-start;

            .contacts-item {
                display: flex;
                justify-content: flex-start;
                gap: 1rem;
                padding: .5rem;

                strong {
                    color: $main-color;
                }
            }

            .social {
                a {
                    display: flex;
                    align-items: center;

                    svg {
                        color: $main-color;

                        &:hover {
                            color: $white-smoke;
                        }
                    }
                }
            }
        }

        .policy-links {
            display: flex;
            justify-content: flex-start;
        }

        .footer-menu {
            display: flex;
            justify-content: flex-start;

        }

        ul {

            li {
                display: flex; // Alkalmazd a flexbox-ot
                width: 100%;


                a {
                    padding: .5rem;
                    color: $text-color;

                    &:hover {
                        color: $main-color;
                    }
                }
            }
        }

    }


}

.copyright {
    background: #191919;
    p {
        font-size: .8rem;
        padding: .4rem;
        text-align: center;
    }
}



@media screen and (min-width: 576px) {
    .footer {

        .footer-container {
            grid-template-columns: repeat(2, 270px);
            gap: 1rem;

            .policy-links {
                justify-content: flex-end;
            }
        }
    }


}

@media screen and (min-width: 992px) {
    .footer {

        .footer-container {
            grid-template-columns: repeat(3, 310px);

            .footer-menu,
            .policy-links,
            .footer-contacts {
                justify-content: center;
            }
        }
    }


}