.friends {
    background-color: $bg-grey;
    padding: 4rem 0 7rem 0;
    width: 100%;

    .heading {
        text-align: center;
        margin-bottom: 20px;

       

        h2 {
            color: $white;
        }

        h3 {
            font-size: 1.5rem;
            margin: 10px 0;

        }

        .artists {
            display: flex;
            flex-direction: column; 
            align-items: center; 
            color: $white;

            .row {
                display: flex;
                justify-content: center; 
                flex-wrap: wrap;
                margin: 5px 0; 

                span {
                    white-space: nowrap;
                    margin: 0 10px; 
                    font-size: 1rem; 
                    color: $white;
                    font-weight: bold;
                    letter-spacing: .1rem;

                }
            }
        }

        p {
            margin: 5px 0;

        }
    }

    .swiper {
        width: 100%; // Teljes szélesség

        margin-top: 2rem;
        overflow: clip;

        .swiper-wrapper {
            display: flex;
        }

        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 220px;
            height: 220px;
            flex-shrink: 0; // Megakadályozza, hogy a slide-ok zsugorodjanak

            img {
                width: 220px;
                height: 100%;
                object-fit: cover;
                background: #555;
                border: 1px solid $white-smoke;
                cursor: grab;
            }
        }

        .swiper-pagination,
        .swiper-button-prev,
        .swiper-button-next {
            display: none;
        }
    }
}