.page-container {
    &.my-booking-page {
        align-items: flex-start;
        justify-content: flex-start;
    }
}

.my-bookings-content-wrapper {
    max-width: 1400px;
    margin: 2rem auto;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    background-color: #222;
    width: 100%;
    min-height: 100%;

    h2 {
        margin-bottom: 30px;
        font-size: 2.3rem;
        color: $main-color;
        text-align: center;
    }

    .booking-table-wrapper {
        width: 100%;
        overflow-x: auto; // Vízszintes scrollozás engedélyezése

        .booking-table {
            width: 100%;
            min-width: 600px;
            border-collapse: collapse;


            th,
            td {
                border: 1px solid #777; 
                padding: 12px;
                text-align: left;
                font-size: 16px;
                color: #ffffff; 
            }

            th {
                background-color: $main-color; 
                color: $bg; 
            }

            tr {
                background-color: #333; 
            }

            tr:nth-child(even) {
                background-color: #444; 
            }

            tr:hover {
                background-color: #555; 
                color: #ffffff; 
            }
        }
    }

    button {
        margin: 1em auto;
    }

  
}