.nav {
    height: 4rem;
    position: fixed;
    top: 0;
    width: 100%;
    background: $bg;
    border-bottom: 2px solid $main-color;
    z-index: 100;


}

.logo {
    font-family: "jaffna";
    font-size: 3.2rem;
    padding-top: .3rem;
    letter-spacing: .4rem;
    color: $main-color;
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
}

.logo-link {
    text-decoration: none;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: sticky;
    bottom: 0;
}

.menu {
    display: flex;
    flex-direction: column;
    // width: 500px;
    width: 100%;
    position: absolute;
    transition: right 0.5s;
    right: -550px;
    background: $bg;
    top: 4rem;
    text-align: center;
    height: calc(100vh - 4rem);
    // border-left: 2px solid $main-color;
    color: $main-color;
}

.menu.open {
    right: 0;
}


.menu li {
    height: 100%;
    width: 100%;
}

.links {
    font-size: 1rem;
    text-decoration: none;
    color: $white-smoke;
    letter-spacing: .1rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    height: 100%;
    text-transform: uppercase;
    border-bottom: 0.2px solid $main-color-70;
    justify-content: center;
    width: 100%;

}

.links:hover {
    background: #555;
    color: $main-color;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}


.hamb-icon {
    display: block;
    font-size: 2.5rem;
    color: $main-color;
    cursor: pointer;
}

@media (min-width: 576px) {
    .menu {
        width: 500px;
        border-left: 2px solid $main-color;
    }

}

@media (min-width: 992px) {
    .nav-wrapper {
        padding: 0 1rem;
    }

    .links {
        font-size: 1rem;
    }

    .menu {
        flex-direction: row;
        position: static;
        background: transparent;
        height: 100%;
        border: none;
        width: fit-content;
        transition: none;
    }

    .hamb-icon {
        display: none;

    }

}