.one-room {

    .one-room-banner {
        position: relative;


        img {
            width: 100%;
            height: 450px;
            object-fit: cover;
            object-position: bottom;
            filter: brightness(0.5)
        }

        ;

        .text-content {
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 2px;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            padding: 0 0 8% 5%;
        }

        h2 {
            font-size: 3rem;
            color: $main-color;
            text-shadow: 2px 2px 4px #000;
        }

        p {
            font-size: 1.5rem;
            color: $main-color;
            text-shadow: 2px 2px 4px #000;

        }
    }

    .one-room-container {
        background-color: $bg-grey;
        padding: 2rem;
        margin: .5rem;
        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);


        border-radius: 8px;

        p {
            font-size: 1.1rem;
            color: $white-smoke;

            strong {
                color: $main-color;
            }
        }

        h3,
        h4 {
            color: $main-color;
            margin-top: 20px;
        }

        h3 {
            font-size: 1.6rem;
            border-bottom: 2px solid $main-color-70;
            padding-bottom: 10px;
        }

        h4 {
            font-size: 1.3rem;
            margin-bottom: 10px;
        }

        div {
            margin-bottom: 20px;

            p {
                margin: 5px 0;
            }
        }
    }

    .back-btn {
        display: flex;
        justify-content: center;
        padding: 2rem 0;
    }
}

@media screen and (min-width: 576px) {
    .one-room {
        .one-room-container {
            margin: 1rem;
        }
    }
}

@media screen and (min-width: 768px) {
    .one-room {
        .one-room-container {
            margin: 2rem;
        }
    }
}