.legal-page {
    max-width: 1400px;
    margin: 0 auto;
    padding: 2.5rem;

    .heading {
        text-align: center;
        margin-bottom: 2.5rem;


        .section-title {
            font-size: 2.5rem;
            font-weight: bold;
            h2 {
                color: $white-smoke;
            }
        }

        p {
            font-size: 1.2rem;
            color: $text-color-darker;
        }
    }

    .policy-section {
        margin-bottom: 2.5rem;
        padding: 1.25rem;
        border: 1px solid $bg-grey;
        background-color: $bg-grey;
        border-radius: 8px;
        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);

        h3 {
            font-size: 1.75rem;
            font-weight: bold;
            color: $main-color;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.1rem;
            color: $text-color;
            line-height: 1.6;
            margin-bottom: 1rem;
        }

        strong {
            color: $main-color;
        }
    }

    .policy-footer {
        p {
            font-size: 1.1rem;
            color: $text-color;
            text-align: center;
            padding: 1.25rem;
            background-color: $bg;
            border-radius: 0.25rem;
            color: $white;
        }
    }

    .btn-group {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}