.services {
    padding: 3rem 0 5rem; 
    margin-bottom: 4rem;



    .card-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 5rem;

        .card {
            flex: 1 1 300px; // Rugalmas méret, minimum 300px
            transition: transform 0.1s;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: .5rem;
            padding: 1rem;

            .card-title {
                color: $white-smoke;
            }
            .card-description {
                margin: .6rem 0;
            }

            .text-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                
                a {
                    margin-top: 1rem;
                    width: fit-content;
                }
            }
        }
    }


    .icon-wrapper {
        display: inline-block;
        position: relative;
        padding: 20px;
        min-width: 80px;
        min-height: 80px;

    }

    .icon-circle {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;

    }

    .icon-wrapper::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 8px;
        border: 4px solid #ddd;
        border-radius: 50%;
        transition: border-color 0.3s ease;
        z-index: 1;
    }

    .card:hover .icon-wrapper::before {
        border-color: $main-color;
    }
}

@media (min-width: 576px) {
    .services {

        .section-title {
            font-size: 3rem;
        }
    }

    .card-container {
        .card {
            flex: none;
            max-width: 400px;
        }
    }
}

@media (min-width: 992px) {
    .card-container {
        .card {
            flex: 1 1 auto;
            max-width: 100%;
        }
    }
}