.studio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 3rem 0;

    .heading {
        p {
            color: $white;
        }
    }

    .studio-banner {
        position: relative;
        width: 100%;

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: center;
            filter: brightness(0.5)
        }

        .text-content {
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 2px;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }

        h2 {
            text-align: center;

            font: {
                size: 3rem;
                family: "jaffna";
            }

            letter-spacing: .7rem;
            color: $main-color;
            text-shadow: 2px 2px 4px #000;
            margin-bottom: .8rem;
        }

        p {
            font-size: 2rem;
            color: $main-color;
            text-shadow: 2px 2px 4px #000;

        }


    }

    .studio-wrapper {
        padding: .8rem;
        width: 100%;
        max-width: 1400px;
        margin: 2rem 0;


        .studio-about {
            margin: 5rem 0;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            grid-template-areas:
                "content1"
                "img1"
                "content2"
                "img2";

            .studio-a-content-1 {
                grid-area: content1;
            }

            .studio-a-content-2 {
                grid-area: content2;
            }

            .studio-a-content-1,
            .studio-a-content-2 {

                padding: 1rem 0;
                line-height: 1.5rem;

                h4 {
                    color: $main-color;
                    font-size: 2rem;
                    margin-bottom: 2rem;
                    text-align: center;
                }

                p {
                    margin-bottom: .7rem;
                }
            }

            .studio-a-img-1 {
                grid-area: img1;
                width: 100%;
                height: 400px;
                object-fit: cover;
                margin-bottom: 1rem;
            }

            .studio-a-img-2 {
                grid-area: img2;
                width: 100%;
                height: 400px;
                object-fit: cover;
                object-position: center;
            }
        }

        .studio-services {
            padding: 2rem 0;
            line-height: 1.5rem;

            h3 {
                font-size: 2.3rem;
                margin-bottom: 2rem;
            }

            p {
                line-height: 1.5rem;
                margin-bottom: .7rem;
            }

            .service-cards {
                margin: 5rem 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 20px;
            }

            .service-card {
                padding: 15px;
                width: calc(25% - 20px);
                min-width: 300px;
                display: flex;
                flex: 1;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                text-align: center;
               

                h4 {
                    color: $main-color;
                    margin-bottom: 1rem;
                }
            }

            .icon {
                font-size: 40px;
                /* Ikon mérete */
                margin-bottom: 10px;
                color: $main-color;
            }
        }



        .studio-details {
          margin-bottom: 5rem;


            h2 {
                text-align: center;
                margin-bottom: 1rem;
                color: $main-color;
            }

            h3 {
                font-size: 2rem;
                margin-top: 1.5rem;
                margin-bottom: .7rem;
                border-bottom: 2px solid $main-color;
                padding-bottom: .2rem;
                color: $main-color;
            }

            h4 {
                margin-top: 1rem;
                margin-bottom: .3rem;
                color: $white-smoke;
            }

            p {
                margin: .3rem 0 .7rem;
                color: $white-smoke;
            }

            strong {
                color: $main-color;
            }


            div {
                background-color: $bg-grey;
                color: $text-color-darker;
                padding: 10px;
                margin-bottom: 15px;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            }

            .card-group {
                background: transparent;
                box-shadow: none;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 1rem;

                .card {
                    flex: 1;
                    min-width: 300px;
                  background: $main-color-70;
                  margin: 0;
                
                }
            }
        }
    }

    .studio-gallery {
        padding: .8rem;
        max-width: 1400px;
        margin-bottom: 3rem;

        h2 {
            color: $main-color;
            font-size: 2.2rem;
            margin-bottom: 1rem;
        }

        .studio-gallery-container {
            width: 100%;
            gap: .5rem;
            display: grid;
            grid-template-columns: repeat(1fr);
            grid-template-rows: repeat(2, 1fr);


            .studio-img-wrapper {
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);

                }

                .zoom-icon {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    color: $main-color;
                    font-size: 6rem;
                    opacity: 0;
                    transition: opacity 0.3s ease;
                }

                &:hover .zoom-icon {
                    opacity: 1;
                    cursor: pointer;
                }

                &:hover::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                    border-radius: 8px;
                    cursor: pointer;
                }
            }

        }
    }
}

@media screen and (min-width: 576px) {
    .studio-gallery {
        .studio-gallery-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (min-width: 992px) {
    .studio {
        .studio-banner {
            .text-content {
                h2 {
                    font-size: 6rem;
                }
            }
        }

        .studio-gallery {
            .studio-gallery-container {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        .studio-wrapper {
            .studio-services {
                h3 {
                    font-size: 3rem;
                    margin-bottom: 3rem;
                }
            }

            .studio-about {
                margin: 5rem 0;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 400px 400px;
                grid-template-areas:
                    "content1 img1"
                    "img2 content2";

                .studio-a-content-1 {
                    padding: 2rem 2rem 2rem 0;

                }

                .studio-a-content-2 {
                    padding: 2rem 0 2rem 2rem;
                }
            }




            .studio-details {
                h2 {
                    text-align: start;
                    font-size: 3rem;
                }
            }
        }
    }
}